.Logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    text-shadow: 0 0 22px red;
    font-size: 46px;
    font-family: 'Jura';
    font-weight: 400;
    margin: 0px;
}