.Toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    position: sticky;
    top: 0;
    left: 0;
    font-size: 34px;
    z-index: 2;
}
@media (max-width: 899px){
    .Toolbar nav{
        display: none;
    }
}
@media (max-width: 700px){
    .Toolbar{
        font-size: 16px;
    }
    .Toolbar .logoDiv img{
        display: none;
    }
}