.content {
    position: fixed;
    top: 20%;
    left: 30%;
    width: 50%;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: transform .3s ease-out;
    z-index: 2;
  }
  .compName{
      outline: none;
  }
  .buttons{
      margin-top: 50px;
  }
  @media (max-width: 800px) {
    .content {
      width: 80%;
      left: 10%;
    }
}