.Content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 20px;
  }
  @media(max-width:1090px){
    .Content{
      margin-top: 30px;
    }
  }
  @media(max-width:700px){
    .Content{
      margin-top: 10px;
    }
  }