.Logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 64px;
    text-shadow: 0 0 22px red;
    font-family: 'Jura';
    font-weight: 400;
    margin: 0px;
}
.logoImg{

}