.NoteControl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
}
.note {
    position: static;
    margin: 0 .5rem;
    height: 40px;
    width: 40px;
    font-family: 'Jura';
    font-size: 24px;
    text-shadow: 0 0 10px #ff0000;
}
.NoteControl button{
    border: 0;
    margin: 0 .5rem;
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    background-color: #100000;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 10px #ff020234;
}
.NoteControl button:hover{
    
    box-shadow: 0 0 10px #ff020296;
}
.NoteControl button:focus{
    outline: none;
}
