.Drawer .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100%;
    padding: 5px 20px;
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    font-size: 23px;
    transition: transform 1s;
}
.open{
    transform: translateX(0);
}
.close{
    transform: translateX(-300px);
}
@media (min-width: 900px) {
    .Drawer {
      display: none;
    }
  }