.NotesPreview{
    flex: 0 0 600px;
    height: 300px;
    margin-right: 1rem;
    margin-bottom: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.sheet{
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    height: 250px;
}