.NotesPreview{
    flex: 0 0 663px;
    height: 169px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.sheet{
    display: flex;
    flex-wrap: wrap;
    width: 663px;
    height: 170px;
}